name: Validate

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  validate:
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run validate
        shell: pwsh
        run: pwsh -File PS1/validate.ps1 -RepoRoot $PWD
